
html {
    background-color: #eee;
    color: #444;
    overflow-y: scroll;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #009999;
}

a:hover,
a:focus {
    color: #008282;
}

a:focus {
    outline: thin dotted;
}

h1 {
    font-family: 'Bungee';
    font-size: 3rem;
    color: #666;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* layout */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content {
    text-align: center;
    width: 90%;
    max-width: 40rem;
}

/* styles for inline SVG */

.illustration-header,
.illustration-footer {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
}

.illustration-header {
    top: 0;
}

.illustration-footer {
    bottom: 0;
}
